@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Space+Mono:wght@400;700&display=swap');

// Variables
$black_background: #1a191d;
$navbar_height: 50px;
$sidebar_size: min(450px, 100vw);

$textWhite: #ffffff;
$textGrey: rgba(249, 249, 249, 0.75);
$textGreyGrey: rgba(249, 249, 249, 0.6);
$green: #02ec89;
$aqua: #66d9ed;
$red: #d41c3e;

$transition_duration: 250ms;
$border_radius: 4px;

// Base
* {
  padding: 0;
  margin: 0;
  transition-duration: $transition_duration;
  font-family: "Poppins", 'system-ui';
  color: $textWhite;
}
body {
  background-color: $black_background;
}

// Navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  font-weight: bold;
  height: $navbar_height;
  position: sticky;
  top: 0;
  font-family: "Space Mono", 'system-ui';

  .navbar-logo {
    display: inline-flex;
    font-size: 2rem;
    cursor: pointer;

    span.pre {
    }
    span.mid {
      color: $green;
    }
    span.post {
      color: $aqua;
    }

    &:hover {
      opacity: .75;
    }
  }

  .navbar-options {
    display: inline-flex;

    .navbar-option {
      cursor: pointer;
      margin-right: $border_radius * 4;
      transition-delay: calc($transition_duration * 2/4);

      &:before {
        content: '//';
        margin-right: $border_radius;
        color: mix(black, $aqua, 20%);
      }
    }

    &:hover .navbar-option:not(:hover) {
      color: mix(black, $textGrey, 25%);
    }
  }

  &:hover {
    opacity: 1 !important;
  }
}
.hamburger {
  display: block;
  width: $navbar_height * .75;
  cursor: pointer;
  z-index: 100;

  .sticks {
    display: block;
    height: $border_radius * .75;
    margin-bottom: $border_radius * 2;
    background-color: white;
  }
  .stick-1 {
    $width: 60%;
    width: $width;
    margin-left: calc(100% - $width);
  }
  .stick-2 {
    $width: 100%;
    width: $width;
    margin-left: calc(100% - $width);
  }
  .stick-3 {
    $width: 80%;
    width: $width;
    margin-left: calc(100% - $width);
  }
}
.hamburger-toggled {
  .stick-1 {
    width: 100%;
    margin-left: 0;
    transform: rotate(45deg) translateX(40%);
  }
  .stick-2 {
    background-color: transparent;
  }
  .stick-3 {
    width: 100%;
    margin-left: 0;
    transform: rotate(-45deg) translateX(40%);
  }
}

// Pages
.page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {
    font-size: calc(2rem + 1.5vw);
    margin-bottom: calc(1.5rem + 2vh);
    opacity: 0;
    transform: translateY(100px);
  }
}

.landing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - $navbar_height * 3);
  padding: 0 10vw;

  .title {
    text-transform: uppercase;
    font-size: calc(2rem + 2vw);
    margin-bottom: calc(.75rem + 1vw + 1rem);

    //&:after {
    //  content: "~ Sadashi";
    //  position: relative;
    //  font-size: calc(.75rem + 1vw);
    //  margin-top: calc(2rem + 2vw + .75rem + 1vw + 1rem);
    //  transform: translate(100px, 100px) !important;
    //
    //  background: -webkit-linear-gradient(180deg, $aqua 85%, $green 15%);
    //  -webkit-background-clip: text;
    //  -webkit-text-fill-color: transparent;
    //}
  }
  .subtitle {
    font-size: calc(1.25rem + .5vw);
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .about {
    max-width: 550px;
    color: $textGrey;
  }

  //.webgl {
  //  width: 100%;
  //  max-width: 600px;
  //  height: 500px;
  //}
}
.expertise {
  padding-top: 10vh;

  .categories {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    opacity: 0;
    transform: translateY(100px);

    .category {
      border: 1px solid $textGrey;
      padding: calc(1rem + 1vw);

      .title-container {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        svg {
          width: 2.5rem;
          height: 2.5rem;
          margin-right: 1rem;
        }

        .title {
          font-size: 1.5rem;
        }
      }

      .description {
      }
    }
  }

  .background-image {
    opacity: 0;
    z-index: -1;
    position: relative;
    top: -6rem;
    transform: translateY(100px);

    img {
      max-width: 90vw;
    }
  }

  @media screen and (max-width: 1060px){
    .categories {
      display: flex;
      flex-direction: column;
      padding: 0 2vw;

      .category {
        margin-bottom: 2vh;
      }
    }
  }
}
.projects {

  .projects-container {
    display: grid;
    max-width: 90vw;
    grid-template-columns: repeat(auto-fill, 450px);
    grid-template-rows: minmax(min-content, max-content);
    grid-gap: 2rem;

    .project {
      width: 100%;
      opacity: 0;
      transform: translateY(100px);
      background-color: #201f23;
      overflow: hidden;
      cursor: pointer;

      .banner {
        overflow: hidden;

        img {
          width: 100%;
          display: block;
          object-fit: cover;
          max-height: 225px;
        }
      }
      .footer {
        padding: 1rem 1.5rem 1.5rem;

        .title {
          font-weight: bold;
          font-size: 1.25rem;
        }
        .subtitle {
          color: $textGrey;
          height: 1.25rem;

          .skills {
          }
          .view {
            opacity: 0;
            transform: translateY(25px);
            cursor: pointer;

            &:after {
              content: ' ';
              display: inline-block;
              width: .5rem;
              height: .5rem;
              transform: rotate(45deg);
              margin-left: .25rem;
              border-top: 3px solid $aqua;
              border-right: 3px solid $aqua;
              visibility: visible;
              vertical-align: middle;
            }
          }
        }
      }

      &:hover {
        img {
          transform: scale(1.2);
        }
        .footer {
          .subtitle {
            .skills {
              transform: translateY(-25px);
              opacity: 0;
            }
            .view {
              transform: translateY(-25px);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
.contact {
  min-height: unset;
  padding-bottom: 25vh;

  .contact-cta {
    font-size: 1.25rem;
    text-align: center;
    margin-bottom: 3rem;
    max-width: 600px;
    opacity: 0;
    transform: translateY(100px);
  }

  .contact-link {
    font-size: 1.1rem;
    text-decoration: none;
    padding: .5rem 1.5rem;
    border: 3px solid $aqua;
    border-radius: 4px;
    margin-bottom: 1rem;
    opacity: 0;
    transform: translateY(100px);
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background: mix(black, $aqua, 75%);
    }
  }

  .other-contact {
    display: inline-flex;
    opacity: 0;
    transform: translateY(100px);

    a {
      margin: 0 .25rem;
      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &:hover a:not(:hover) {
      opacity: .5;
    }
  }
}

// Colored Text
.color-blue {
  color: $aqua
}
.color-red {
  color: $red;
}
.color-green {
  color: $green
}

// Scrollbar
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: $textGreyGrey;
}
::-webkit-scrollbar-thumb:hover {
  background: $textGrey;
}

// Cursor
.customCursor {
  width: 2rem;
  height: 2rem;
  border: 2px solid $aqua;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin: -1rem 0 0 -1rem;
  mix-blend-mode: lighten;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  &:after {
    display: block;
    width: 8px;
    height: 8px;
    background: $aqua;
    border-radius: 50%;
    content: ' ';
    visibility: visible;
  }
}